// ==================================================
// Basic Styles
// ==================================================
* {
  @include box-sizing(border-box);
}

::selection {
  @include text-shadow(none);
  background: $selection;
  color: $brand;
}

html,
body {
  background-color: $bg-body;
  height: 100%;
  min-height: 100%;
}

body {
  color: $brand;
  font: 14px / 24px $font;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  &.user-logged-in.toolbar-tray-open.toolbar-horizontal {
    padding-top: 79px;
  }
}

p:empty {
  display: none;
}
